<div>
  <div>
    <h1>
      List of all regulation agencies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new regulation agency
    </h2>

    <form action="/insert_regulation_agency" method="post">
      <div>
        <label for="agency_id_box">
          Agency
        </label>

        <input type="text" id="agency_id_box" name="query_agency_id">
      </div>

      <div>
        <label for="regulation_id_box">
          Regulation
        </label>

        <input type="text" id="regulation_id_box" name="query_regulation_id">
      </div>

      <button>
        Create regulation agency
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Agency
        </th>

        <th>
          Regulation
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_regulation_agencies.each do |a_regulation_agency| %>
      <tr>
        <td>
          <%= a_regulation_agency.id %>
        </td>

        <td>
          <%= a_regulation_agency.agency_id %>
        </td>

        <td>
          <%= a_regulation_agency.regulation_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_regulation_agency.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_regulation_agency.updated_at) %> ago
        </td>

        <td>
          <a href="/regulation_agencies/<%= a_regulation_agency.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
