<div>
  <div>
    <h1 class="text-center" >
      Search the Federal Register
    </h1>
  </div>
</div>

<hr>

  <div class="container">
    <form action="/insert_regulation" method="post" style="display: flex; align-items: center;">
      <div style="margin-right: 10px;">
        <label for="register_url_box">
          Add a regulation from the <a href="https://www.federalregister.gov/" target="_blank">Federal Register</a> by submitting a URL:
        </label>
        <input type="text" id="register_url_box" name="query_register_url">
      </div>

      <input type="hidden" id="document_number_box" name="query_document_number">

<button type="submit" class="btn btn-primary">Create Regulation</button>
    </form>
  </div>

<hr>
    <h3 class="text-center">
Saved Regulations
    </h3>


<div>
  <div>
    <table class="table table-hover" border="1">
    <thead>
      <tr>
        <th class="col-3">Department/Agency</th>
        <th class="col-5">Title</th>
        <th class="col-1">Action</th>
        <th class="col-1">Significant</th>
        <th class="col-1"> Created </th>
        <th class="col-1">  Details </th>
      </tr>
      </thead>
      <tbody>
      <% @list_of_regulations.each do |a_regulation| %>
      <tr>
        <td >
          <%= a_regulation.agency_names.join(", ") %>
        </td>

        <td >
          <%= a_regulation.title %>
        </td>

        <td >
          <%= a_regulation.action %>
        </td>
        
        <td >
      <% if a_regulation.significant == true %>
          Yes
        <% else %>
           No
        <% end %>

        </td>

        <td >
          <%= time_ago_in_words(a_regulation.created_at) %> ago
        </td>

        <td >
          <a href="/regulations/<%= a_regulation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
  
      <tbody>
    </table>
  </div>
</div>

<hr>
