<div>
  <div>
    <h1>
      Search the Federal Register
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/insert_regulation" method="post">
      <div>
        <label for="register_url_box">
          <a href="https://www.federalregister.gov/">Federal Register</a> URL
        </label>

        <input type="text" id="register_url_box" name="query_register_url">
      </div>

        <input type="hidden" id="document_number_box" name="query_document_number">
      </div>

      <button>
        Create regulation
      </button>
    </form>
  </div>
</div>
<hr>
    <h2>
      Search History
    </h2>


<div>
  <div>
    <table border="1">
      <tr>
        
        <th>
          Document number
        </th>

        <th>
          Title
        </th>

        <th>
          Action
        </th>
        <th>
          Significant
        </th>
        <th> Created </th>
        <th> Updated </th>
        <th> Details </th>

      </tr>

      <% @list_of_regulations.each do |a_regulation| %>
      <tr>

        <td>
          <%= a_regulation.document_number %>
        </td>

        <td>
          <%= a_regulation.title %>
        </td>

        <td>
          <%= a_regulation.action %>
        </td>
        
        <td>
      <% if a_regulation.significant = "true" %>
          Yes
        <% else %>
           No
        <% end %>

        </td>

        <td>
          <%= time_ago_in_words(a_regulation.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_regulation.updated_at) %> ago
        </td>

        <td>
          <a href="/regulations/<%= a_regulation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
