<div>
  <div>
    <h1>
      <%= @the_regulation.title %>
    </h1>

    <dl>

      <dt>
        Document number
      </dt>
      <dd>
        <%= @the_regulation.document_number %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_regulation.title %>
      </dd>

      <dt>
        Action
      </dt>
      <dd>
        <%= @the_regulation.action %>
      </dd>

      <dt>
        Citation
      </dt>
      <dd>
        <%= @the_regulation.citation %>
      </dd>

      <dt>
        Significant
      </dt>
      <dd>
        <% if @the_regulation.significant == true %>
          Yes
        <% else %>
           No
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_regulation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_regulation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
<hr>

<div>
<div>

  <a href="<%= @the_regulation.register_url %>"> Federal Register link </a>

</div>
<div>

  <a href="<%= @the_regulation.pdf_url %>"> PDF link </a>

</div>
<div>

  <a href="<%= @the_regulation.raw_url %>"> Raw link </a>

</div>

</div>

<hr>
    <div>
      <div>
        <a href="/regulations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_regulation/<%= @the_regulation.id %>">
          Delete regulation
        </a>
      </div>
    </div>

    <hr>
